<div>
  <h1>Components</h1>
  <p>
    Uma análise de práticas, requerimentos e approaches para promover design
    systems gerenciáveis em tempo de execução A idéia e imergir em estratégias
    para produção de interfaces com ui design alinhado com propostas de mobile
    first, metodologias para cross browser, cross platform, paradigmas de
    produção e distribuição alinhadas com as características/necessidades de
    todos os envolvidos dessas relações
  </p>
  <hr />
  <h3>Button</h3>
  <app-button [styles]="data?.styleguide?.button1"></app-button>
  <h3>Icon</h3>
  <app-icon [styles]="styles?.styleguide?.icon1" [svgId]="iconId"></app-icon>
</div>
