<h1>Tasks e todos</h1>
<ul>
  <li>
    - [x] Logger
  </li>
  <li>
    - [x] Device detection
  </li>
  <li>
    - [ ] Mock internal (in-memory-web-api)
  </li>
  <li>
    - [ ] Geração de Docs
  </li>
  <li>
    - [ ] TDD
  </li>
  <li>
    - [/] i18n
  </li>
  <li>
    - [ ] Design System (Aplicar existente? IBM?)
  </li>
  <li>
    - [ ] Styleguide
  </li>
  <li>
    - [ ] storybook
  </li>
  <li>
    - [ ] dynamic themes
  </li>
  <li>
    - [x] criação de sprite-sheets
  </li>
  <li>
    - [x] Lazy Load
  </li>
  <li>
    - [ ] arquivos de configuração de IDE (VScode)
  </li>
  <li>
    - [ ] Abastração para componentes, containers e páginas
  </li>
  <li>
    - [ ] Abstração para http
  </li>
  <li>
    - [/] State Management (NGSX?coded pattern?)
  </li>
  <li>
    - [ ] Migrar para Ivy
  </li>
  <li>
    - [ ] Aplicação de SSR
  </li>
</ul>
