<h1>Proposta do projeto e abordagem técnica</h1>
<p>
  O Objetivo desse repositório é avaliar práticas e estruturas de projeto,
  simular e decupar libs, workflow e padrões de projeto. Os principais tópicos
  são:
</p>
<a>*acesse o repositório para verificar em código</a>
<ul>
  <li>
    - Inicialização do Angular
  </li>
  <li>
    - Localização com i18n
  </li>
  <li>
    - Possibilidades e práticas de teste com TDD
  </li>
  <li>
    - Geração e utilização de sprites svg
  </li>
  <li>
    - Geração de Rotas em runtime antes do ‘bootstrap’ do Angular
  </li>
  <li>
    - Táticas de Lazy Load
  </li>
  <li>
    - Detecção de dispositivo e estratégias de responsividade com Sass,
    Javascript e brakpoints
  </li>
  <li>
    - Logger
  </li>
  <li>
    - Mock
  </li>
  <li>
    - Centralização de erros
  </li>
  <li>
    - State management minimilista com objetivo de gerar entendimento sobre os
    patterns utilizados nas principais libs
  </li>
  <li>
    - Aplicação de animação com animejs
  </li>
</ul>
